{% extends 'base.html' %}

{% block content %}
  <body>
    <div class="indent-1">
      {% if user.is_authenticated %}
        <br><a href="/forums/post-to-forum">Post to forum</a>
      {% else %}
        <br><a href="/login">Login to post</a>
      {% endif %}
    </div>
    <br>
    {% for post in posts %}
      <div class="card">
        <h5 class="card-header text-center">
          {{ post.title }}
        </h5>
        <div class="card-body text-justify">
          {{ post.author }}
          {% if post.reply != "-" %}
            <br>
            <br> Replying to: {{ post.reply }}
          {% endif %}
          <br>
          <br>{{ post.content }}
        </div>
        <div class="card-footer text-muted text-center">
          {{ post.date }}
        </div>
      </div>
    {% endfor %}
  </body>
{% endblock %}