{% extends 'base.html' %}

{% block content %}
  <body>
    <div class="card-columns">
    {% for profile in profiles %}
      <div class="card indent-2" style="width: 18rem;">
      <br><img src="media/{{ profile.image }}" alt="profile image" width="286" height="180">
        <div class="card-body text-center">
          <h5 class="card-title">{{ profile.name }}</h5>
          <p class="card-text">{{ profile.content }}</p>
        </div>
        <div class="card-footer text-center">
          Popularity: {{ profile.votes }}
        </div>
      </div>
    {% endfor %}
  </body>
{% endblock %}
