{% extends 'base.html' %}

{% block content %}
  <div class="container p-5 my-5 bg-dark text-white">
    <h1 class="text-center">Football Player Ranking</h1>
    <h3 class="text-center">(Fifa Best Player 2022)</h3>
    <div class="container pt-3 row">
      <div class="col">Rank</div>
      <div class="col">Name</div>
      <div class="col">Age</div>
      <div class="col">League</div>
      <div class="col">Nationality</div>
    </div>
    <hr></hr>
    {% for x in player %}
    <div class="container pt-3 row">
      <div class="col">{{x.id}}</div>
      <div class="col">.{{x.fullname}}</div>
      <div class="col">.{{x.age}}</div>
      <div class="col">.{{x.league}}</div>
      <div class="col">.{{x.nationality}}</div>
    </div>
    {% endfor %}
    <hr></hr>
    <div class="container pt-3 row">
      <img class="float-start rounded col" src="media/tk-images/robert-lewandowski.jpg" alt="Robert Lewandowski">
      <img class="float-none rounded col" src="images/lionel-messi.jpg" alt="Lionel Messi">
      <img class="float-end rounded col" src="images/mohammed-salah.jpg" alt="Mohammed Salah">
    </div>
  </div>
{% endblock %}