{% extends 'base.html' %}

{% block content %}
  <body>
    <div class="indent-1 text-center">
        <h4>PBP Sports Trivia</h4>
        <br>Feel like a sports wiz?
        <br>Raring to prove your worth as a trivia master?
        <br><strong>Take our quiz!</strong> And maybe like the great King Arthur, you'll pull the sword out of the preverbial stone.
    </div>
    <br>
    <div class="indent-2 text-center">
        <a role="button" class="btn btn-success" href="/quiz/take">Take the quiz</a>
        <a role="button" class="btn btn-secondary" href="/quiz/results">See results</a>
    </div>
  </body>
{% endblock %}